{%- macro var_label(var) -%}
{{var["name"]}}: {{var["type"]}}
{%- endmacro -%}

{% macro method_label(method) %}
    {% set name = method["name"] %}
    {% set params = method.get("params", []) %}
    {% set rtype = method.get("type", "None") %}
    {% set is_async = method.get("is_async", false) %}
    {% set is_cls = method.get("is_cls", false) %}
    {% set is_abstract = method.get("is_abstract", false) %}

    {%- if is_async == true -%}
    <FONT COLOR="darkorchid1">async</FONT>
    {%- endif -%}

    {%- if is_abstract == true -%}
    <I>{{name}}</I>
    {%- else -%}
    {{name}}
    {%- endif -%}
    ({%- for param in params -%}{{ param["name"] }}: {{param["type"]}}{%- if not loop.last %}, {% endif -%}{% endfor %}): {{rtype}}
{%- endmacro -%}

{% macro build(class) %}
{% set name = class["name"] %}
{% set description = class.get("description") %}
{% set properties = class.get("properties", []) %}
{% set methods = class.get("methods", []) %}
{{name}} [
    shape=none
    portPos="t"
    label=<<TABLE port="t" border="0" cellborder="1" cellspacing="10">
            <TR><TD colspan='2'><FONT POINT-SIZE="18"><B>{{name}}</B></FONT></TD></TR>
            {% if description is not none %}
            <TR>
                <TD><I>Description</I></TD>
                <TD>{{description}}</TD>
            </TR>
            {% endif %}
            {% if methods %}
            <TR>
                <TD><I>Methods</I></TD>
                <TD>
                {% for method in methods %}
                <BR ALIGN="LEFT"/>{{method_label(method)}}
                {% endfor %}
                </TD>
            </TR>
            {% endif %}
        </TABLE>
    >
]
{%- endmacro -%}